
header{
	background-color: #E3E0E0;
}
.banner_top{
	margin-top: 1%;
    margin-left: 15%;
}
.menu1{
	margin-left: 31%;
}
.disabled {
	display: table-cell;
	margin-left: 20%;
}
.menu{
	text-decoration: none;
	color: #A9A9A9;
	font-size: 10px;
}
/*iconos pequños*/
i{
	padding: 1%;
}
.facebook {
	color: #006299;
}

.twitter {
	color: #00AEF1;
}

.google {
	color: #D43E2F;
}
.mail{
	color: #FFC104;
}
.antena{
	color: #FB6B01;
}
.search{
    display: inline-block;
    width: 22%;
    height: 10%;
}
/***La Republica***/
.lrp{
	padding-top: 2%;
}
.logo_larep{
	    margin-top: 2%;
}
.colpe {
    max-height: 65px;
    margin-bottom: 3%;
    border-width: 1px 1px 2px;
    border-style: solid;
    border-color: #8B8A8A #8B8A8A red;
    border-bottom: 2px solid red;
}
.colpe2 {
    max-height: 65px;
    margin-bottom: 3%;
    border-width: 1px 1px;
    border-style: solid;
    border-color: #8B8A8A;
    border-radius: 7px;
    margin-top: -20%;
    margin-left: 4%;
}
.fedit{
	 width: 17px;
}
.fautor{
	    margin-top: -25%;
    margin-left: 91%;
}
.dom{
	    margin-left: 34%;
}
.lideresa{
	font-size: 11px;
    font-weight: bold;
    padding: 3%;
}
/****Menu rojo**/
.mrojo{
	margin-top: 2%;
}
.dropdown-toggle{
	font-weight: bold;
    color: white;
	font-size: 11px;
	background-color: #B30404;
}
/***Menu Gris**/
.gris {
    background-color: rgb(230, 232, 233);
    border-radius: 10px;
    margin: 2%;
        margin-top: 0%;
}
.mainGris {
    margin-top: 1%;
    display: inline-block;
    padding: 5px 10px;
    color: black;
    text-decoration: none;
}
.negro {
    background-color: black;
    color: white;
    border-radius: 10px 0 0 10px;
    margin-left: -1%;
        margin-top: 0%;
}
/***banner**/
.banner_h{
	margin-bottom: 2%;
}
/*carola seccion2*/
.politica{
	color: gray;
	font-size: 75%;
}
.titulo-principal{
	font-size: 360%;
}
.espacio{
	margin-left: 5%;
}
.iconos .politica{
	color: gray;
	font-size: 80%;
}
.pelota{
	margin: 3%;
}
.opa .politica{
	color:white;
}
.foto-portada{
	background-image: url(../image/img_grid_principal.jpg);
	width: 100%;
	height: 506px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color:white;
	margin-top: 5%;
	
}

.opa{
	padding: 70% 5% 3% 5%;
	width: 100%; 
	height: 506px;
	background:(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 8%, rgba(0,0,0,0.65) 100%);
	background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 8%, rgba(0,0,0,0.65) 100%); 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 5%;
}

.foto-portada ul {
	position: relative;
	top:-7%;
	margin-left: 23%;

}
.foto-portada ul li{
	display: inline-block;
	margin-left: 10%;
	padding-bottom: -9%;
	list-style-type: disc;
	font-size: 80%;
	
}
.politica{
	font-size: 80%;
}

.fot-portada ul li a{
	color:white;
}

.foto-secu .politica{
	color:white;
}

.ico{
	width: 30px;
	height:31px;
}

.time{
	font-size: 80%;
}
.foto-secu{
	background-image: url(../image/img_grid_secundario.jpg);
	width: 100%;
	height: 240px;
	background-position: center;
	background-size: cover;
	color:white;
	margin-top: 5%;
}

.opaci ul li {
	margin-left: 20%;
}

.opaci{
	padding: 20% 5% 0% 5%;
	width: 100%; 
	height: 240px;
	background: (rgba(0,0,0,0) 0%, rgba(0,0,0,0) 6%, rgba(0,0,0,0.65) 100%);
	background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 6%, rgba(0,0,0,0.65) 100%); 
	background-position: center;
	background-size: cover;	
}
/*final seccion2 Carola*/
/*maria*/

.cont-rojo{
	background: #B40404;
	width: 149px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -10px;
}

.h3-columnistas{
	color: #FFFFFF;
	position: relative;
	top: -48px;
	font-size: 18px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
}

.columnistas{
	background:#D8D8D8;
	width: 100%;
	border-top: 4px solid #B40404;
	height: 3250%;
	padding-bottom: 56px;
}


.mariovargas{
	font-size: 11px;
	text-align: center;


}

.mariovargas1{
	font-size: 11px;
	margin-left: 11px;
	text-align: center;
}

.megarenuncia{
	font-size: 15px;
	margin-top: -4px;
	text-align: center;
}

.megarenuncia1{
	font-size: 15px;
	margin-top: -4px;
	margin-left: 6px;
	text-align: center;
}

.foto{
	border: 3px solid white;
	width: 100px;
}

.foto1{
	border: 3px solid white;
	width: 100px;
	position: relative;
	left: 9px;
}


/*fin maria*/
/*seccion4 carola*/
.futbolistas{
	background-image: url(../image/img_especiales.jpg);
	background-repeat: no-repeat;
	height: 180px;
	width: 300px;
	position: relative;	
}

.pases{
	color: white;
	padding: 130px 5px 5px 5px;
	font-size: 15px;
}	
.text{
	color: #ED0A2F;
}
.cuadros{
	border: solid #E1E2E5 1px;
	margin: 15px 15px 10px 0px;
}
.trans{
	width: 300px; 
	height: 180px;
	background: (rgba(0,0,0,0) 0%, rgba(0,0,0,0) 6%, rgba(0,0,0,0.65) 100%);
	background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 6%, rgba(0,0,0,0.65) 100%); 
	background-position: center;
	background-size: cover;	
}
/*final seccion4 Carola*/
/****Emma Watson****/
.diminuto{
	font-size: 8px;
	padding-top: 4%;
}
.titema{
	font-weight: bold;
	font-size: 18px;
	margin-top: -9px;
}
.emma{
	font-size: 16px;
}
.icon{
	margin-left: -9%;
}
.iconos{
	display: table-cell;
	text-decoration: none;
	padding: 2%;
}
.texto{
	font-size: 11px;
}
.fa .fa-youtube-play{
	color: #D00808;
}
.lineagris{
	padding: 1%;
	padding-bottom: 3%;
	border-bottom: 2px solid #7b7a7a;
	width: 100%;
}

/*columna derecha*/
.bullet{
	background-image: url(../image/trama_square.jpg);
	height: 235px;
}
.center-block{
	background-color: white;
	width: 91%;
	height: 82%;
	margin-top: -21%;
}
.h4sus{
	font-size: 90%;
	padding-bottom: 30%;
	position: relative;
	top: 66px;
}
.sobre{
	width: 21%;
	margin-top: 4%;
}

form{
	width: 86%;
	margin-left: 9%;
}
.boton{
	width: 93%;
	height: 29px;
	font-size: 11px;
	background-color: #D00808;
}
.btNoticias{
	margin-left: 33%;
	width: 30%;
	margin-top: 2%;
}

/*Aweita*/
.borde{
	border: 1px solid #7f7575;
	margin-top: 16%;
}
.fut{
	padding-top: 17px;
}
.logo_aweita{
	padding: 5%;
}
.roman{
	width: 115%;
	border: 2px solid #7f7575;
}
.jr{
	text-align: left;
	font-size: 10px;
}
.masAweita{
	padding-top: 10%;
}
.morado{
	width: 104px;
	color:#810E75;
}
.mora{
	color:#810E75;
}
.fotodes{
	margin-top: 20%;
	border: 1px solid #7b7a7a;
	max-width: 100%;
}
.nasca{
	margin-top: 5%;
	font-weight: bold;
	margin-bottom: 15%;
}
.pueblo{
	margin-left: 77%;
	margin-top: -20%;
}
.notrelacionadas{
	width: 100%;
	border: 2px solid #7f7575;
}
.uchura{
	font-weight: bold;
	font-size: 11px;
}
.uch{
	padding: 2%;
}
.lineamorada{
	border-bottom: 4px solid #960F7E;
	margin-left: 22%;
	width: 57%;
}
.titfotos{
	border:1px solid #7b7a7a;
	background-color: #7b7a7a;
	color: white;
	width: 63%;
	font-size: 13px;
	margin-left: 18%;
	margin-top: 19%;
}
.lineafotos{
	border-bottom: 4px solid #7b7a7a;
	width: 100%;
	margin-top: -8%;
}

/*previofooter*/
.fondola_rep{
	background-color: #DBDADA;
	margin-top: 2%;
}
.logo_glr{
	padding-top: 40%;
}
.glr{
	font-size: 18px;
}
.direc{
	margin: 0 0 0px;
}
.der{
	padding: 3%;
	font-size: 12px;
}
.lineaRecta{
	margin-left: 27%;
	margin-top: 4%;
	width: 1px;
	height: 325px;
	border: 1px inset #fcf8e3;;
	background-color: #b3b3b3;
}
ul.listado{
	padding-top: 17%;
	font-size: 10px;
	list-style: none;
	text-decoration: none;
	
}
.lista{
	color: #757575;
}
.divs{
	margin-left: 27%;
    position: relative;
    margin-top: -36%;
}
/****FinFooter***/